<div class="wordTitle">
  <%= @word.title %>
</div>
<div class="wordDate">
<%=  @word.impressionist_count %>回確認済
</div>
<% if user_signed_in? && current_user.id == @word.user_id %>
<div class="wordManage">
  <%= link_to "編集", edit_word_path(@word.id), class: "wordManage__edit" %>
  <%= link_to "削除", word_path(@word.id), method: :delete, class: "wordManage__delete" %>
</div>
<% end %>
<div class="wordText">
  <%= simple_format @word.explanation %>
  <%# simple_formatで自動改行 %>
</div>
<div class="container">
  <% if current_user %>
    <%= form_with(model: [@word, @comment], local: true) do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2", id:"comment-area" %>
      <%= form.submit "投稿", id: "comment-btn" %>
    <% end %>
  <% else %>
    <strong><p>※※※ コメントの登録には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
</div>
<div class="comments">
  <h4>＜コメント一覧＞</h4>
  <% if @comments %>
  <%# コメントがある場合 %>
    <% @comments.each do |comment| %>
    <%# @commentsの配列の中身であるレコードを取り出す %>
      <div class="comments__list">
        <%= link_to comment.user.name, "/users/#{comment.user_id}", class: "comments__list__name" %>：
        <%= comment.text %>
      </div>
    <% end %>
  <% end %>
</div>